body, html {
  height: 100vh;
  }

  body {
  display: grid;
  margin: 0;
  font-family: fantasy;
  grid-template-columns: 10% 45% 35% 10%;
  grid-template-rows: 25% 5% 35% 25% 10%;
  grid-gap: 5px;
  grid-template-areas:
  ". header header ."
  ". nav nav ."
  ". section div ."
  ". main main ."
  ". foot foot ."
}

aside {
  grid-area: side;
  background-color: brown;
}

nav {
  grid-area: nav;
  background-color: black;
  color: white;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 10%;
  padding-top: 15px;
}

nav a {
  color: white;
}

.navContainer{

}

header {
  grid-area: header;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
    font-size: 6em;
}

section {
  grid-area: section;
}

section img:hover {
  animation-name: appear;
  animation-duration: 2s;
}
@keyframes appear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

section>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

div {
  grid-area: div;
}

main {
  grid-area: main;
  background-color: orange;
  }

footer {
  grid-area: foot;
  background-color: grey;
}
